process {
    withName: 'FASTQC' {
        memory = '3 GB'
        cpus = 2
    }
    withName: 'SEQTK_TRIM' {
        memory = '3 GB'
        cpus = 2
    }
    withName: 'MULTIQC' {
        memory = '3 GB'
        cpus = 2
    }
    withName: 'NFCORE_AMPLISEQ:AMPLISEQ:DADA2_DENOISING' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'NFCORE_AMPLISEQ:AMPLISEQ:DADA2_RMCHIMERA' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'NFCORE_AMPLISEQ:AMPLISEQ:DADA2_STATS' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'NFCORE_AMPLISEQ:AMPLISEQ:DADA2_TAXONOMY_WF:DADA2_TAXONOMY' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'NFCORE_AMPLISEQ:AMPLISEQ:DADA2_ERR' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'NFCORE_AMPLISEQ:AMPLISEQ:DADA2_TAXONOMY_WF:DADA2_ADDSPECIES' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'NFCORE_AMPLISEQ:AMPLISEQ:CUTADAPT_WORKFLOW:CUTADAPT_BASIC' {
        memory = '20 GB'
        cpus = 4
    }
}
